#k {
  background: url(this.jpg);
  width: 1341px;
  height: 250px;
  text-align: center;
  opacity: 0.6;
  padding:  0px 0;
  text-decoration: none;
}
#disk {
	font-family: 'Pacifico', cursive;
	font-size: 100;
}